{% extends 'SonataAdminBundle:CRUD:base_list.html.twig' %}

{% block list_table %}
    {% if admin.getCurrentSite() is defined %}
        {% set currentSite = admin.getCurrentSite() %}
        {% set sites = admin.getSites() %}

    <div class="box-header">
        <h1 class="box-title">
            {{ 'pages.tree_site_label'|trans({}, 'SonataPageBundle') }}
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    <strong class="text-info">{{ currentSite.name }}</strong> <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    {% for site in sites %}
                        <li>
                            <a href="{{ admin.generateUrl('list', { 'site': site.id }) }}">
                                {% if currentSite and site.id == currentSite.id %}
                                    <span class="pull-right">
                                            <i class="fa fa-check"></i>
                                        </span>
                                {% endif %}
                                {{ site.name }}
                            </a>
                        </li>
                    {% endfor%}
                </ul>
            </div>
        </h1>
    </div>
    {% endif %}
    <div class="box-content">
        {{ parent() }}
    </div>
{% endblock %}